@import 'colors'

body
    background-color: $background
    font-family: 'Titillium Web', sans-serif;
    color: $text-color

a
    color: $link

    span
        display: none

.header
    font-size: 30pt
    text-align: center
    padding: 0

.sub-header
    font-size: 15pt
    text-align: center
    padding-bottom: 50px

li
    font-size: 12pt
    padding: 10px 0px
    list-style: none

footer
    color: $footer-text
    bottom: 10px
    right: 5px
    position: absolute

    p
        padding: 0
        margin: 0

.footer-links
    a
        padding: 0 5px

.discord:hover .dc-child
    display: inline
